* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f8f9fa;
}

.portfolio {
  padding: 80px 0;
  text-align: center;
}

.title h1 {
  font-size: 45px;
  font-weight: bold;
}

.title p {
  margin-top: 10px;
  font-style: italic;
  color: gray;
}

.portfolio-grid {
  width: 90%;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item {
  text-decoration: none;
  color: black;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);

  width: calc((100% / 3) - 20px);
}

.img-box {
  position: relative;
}

.img-box img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,200,0,0.85);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: 0.4s;
}

.overlay span {
  font-size: 70px;
  color: white;
  font-weight: bold;
}

.img-box:hover .overlay {
  opacity: 1;
}

.info {
  padding: 25px;
}

.info span {
  display: block;
  margin-top: 8px;
  font-style: italic;
  color: gray;
}

@media(max-width: 992px) {
  .item {
    width: calc((100% / 2) - 20px);
  }
}

@media(max-width: 600px) {
  .item {
    width: 100%;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);

  display: none;
  justify-content: center;
  align-items: center;
}

.modal:target {
  display: flex;
}

.modal-content {
  background: white;
  width: 800px;
  max-width: 95%;
  padding: 60px 50px;
  text-align: center;
  border-radius: 10px;

  max-height: 90vh;
  overflow-y: auto;
}

.modal-content h1 {
  font-size: 45px;
  font-weight: bold;
}

.subtitle {
  margin: 15px 0 30px;
  font-style: italic;
  color: gray;
}

.modal-content img {
  width: 100%;
  max-width: 550px;
  margin-bottom: 25px;
  border-radius: 6px;
}

.desc {
  font-size: 15px;
  line-height: 1.8;
  color: #555;
}

.details {
  margin: 25px 0;
  font-weight: bold;
}

.close-btn {
  display: inline-block;
  padding: 18px 40px;
  background: #ffc800;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
}
